<% content_for :head do %>
  <%= stylesheet_link_tag 'stripe.css' %>
<% end %>

<div class="search-title <%= @category_code %>">
  <%= @page_title %>
</div>

<div class="all-results" id="results-anchor">
  <%  day = 99999999999  %>

  <% @posts.each do |post| %>
    <% if day - post.time_posted > 24.hours %>
      <% day = post.time_posted %>
      <div class="resultsDateBar <%= @category_code %>">
        <%= post.display_posted_date %>
      </div>
    <% end %>

    <div class="one-result">
      <%= post_title_tag post %>
      <%= stripe_checkout_link(post) %>
    </div>
  <% end %>

  <% if @posts.present? %>
    <div id="nav-post" class="pagination">
      <% url_options = params.slice(:controller, :name, :cat, :sub, :q) %>
      <%= link_to_previous_page @posts, 'previous 100 posts', :params => url_options %>
      <%= link_to_next_page @posts, 'next 100 posts', :params => url_options %>
    </div>
  <% end %>
</div>
