<%- type = @payment.display_checkout_type -%>
More information about SUpost Pay can be found at http://pay.supost.com.

If you have any questions or concerns about your <%= type %>, you may submit a question at http://pay.supost.com/questions.html

<%- if receiver == :buyer -%>
Details of your <%= type.titlecase %>:
<%- else -%>
Details of the <%= type.titlecase %>:
<%- end -%>
Post: <%= @post.name %>
<%= post_url(@post) %>
Post Price: <%= price_tag @post.rounded_price %>
Date Posted: <%= @post.display_posted_at %>
Email of Seller: <%= @post.email %>
Email of Buyer: <%= @payment.buyer %>

Description:
<%= @post.body %>
