Your reservation on SUpost succeeded!

<%= render 'purchase_details', :receiver => :buyer %>

With the seller's email listed above, contact the seller directly. This notification is a confirmation of your reservation for the post. The money spent for this reservation will not go to the seller. The seller will require you to pay the post price listed above in order for you to receive the item.

By making a reservation, the post is deleted from the SUpost listings. You and the seller have the responsibility to complete the purchase.

The seller may decline your reservation. In such cases, you will be refunded. To receive your refund, you must inform us within 3 business days at http://pay.supost.com/questions.html

<%= render 'post_details', :receiver => :buyer %>
