You received a reservation for your post on SUpost!

Please email the buyer to complete the purchase: <%= @payment.buyer %>.

If you need to decline the reservation, please notify the buyer and SUpost of your decision to not complete the purchase at: http://pay.supost.com/questions.html

<%= render 'purchase_details', :receiver => :seller %>

When the buyer made the reservation for your post, your post was deleted from the SUpost listings. You and the buyer have the responsibility to complete the transaction.

<%= render 'post_details', :receiver => :seller %>
