.fieldWithErrors {
  padding: 0;
  display: table;
}

#errorExplanation {
  border: 2px solid red;
  padding: 7px;
  margin: 10px 0;
  width: 883px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 16px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
  font-size: 14px;
}

#errorExplanation ul li {
  font-size: 14px;
  list-style: square;
}

.price-tag {
  padding: 0 5px;
  color: white;
  background: #038cfe;
  border: 1px solid #038cfe;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.forsale #item-realm,
.forsale .post-rectangle,
td .forsale .category_header {
  background-color: #fec321;
}

.forsale #posttitle,
.search-title.forsale,
.resultsDateBar.forsale,
td .forsale .categoryColumn {
  border-color: #fec321;
  background-color: #fff7c0;
}

.forsale #item-body,
.forsale .item-contour {
  border-color: #fec321;
  background-color: #ffffff;
}

.personals #item-realm,
.personals .post-rectangle,
td .personals .category_header {
  background-color: #ffb5da;
}

.personals #posttitle,
.search-title.personals,
.resultsDateBar.personals,
td .personals .categoryColumn {
  border-color: #ffb5da;
  background-color: #ffe5f3;
}

.personals #item-body,
.personals .item-contour {
  border-color: #ffb5da;
  background-color: #ffffff;
}

.housing #item-realm,
.housing .post-rectangle,
td .housing .category_header {
  background-color: #b1db79;
}

.housing #posttitle,
.search-title.housing,
.resultsDateBar.housing,
td .housing .categoryColumn {
  border-color: #b1db79;
  background-color: #e4f3d1;
}

.housing #item-body,
.housing .item-contour {
  border-color: #b1db79;
  background-color: #ffffff;
}

.off_campus_jobs #item-realm,
.off_campus_jobs .post-rectangle,
td .off_campus_jobs .category_header {
  background-color: #ecb7ff;
}

.off_campus_jobs #posttitle,
.search-title.off_campus_jobs,
.resultsDateBar.off_campus_jobs,
td .off_campus_jobs .categoryColumn {
  border-color: #ecb7ff;
  background-color: #f8e6ff;
}

.off_campus_jobs #item-body,
.off_campus_jobs .item-contour {
  border-color: #ecb7ff;
  background-color: #ffffff;
}

.campus_jobs #item-realm,
.campus_jobs .post-rectangle,
td .campus_jobs .category_header {
  background-color: #92cadd;
}

.campus_jobs #posttitle,
.search-title.campus_jobs,
.resultsDateBar.campus_jobs,
td .campus_jobs .categoryColumn {
  border-color: #92cadd;
  background-color: #dff4fb;
}

.campus_jobs #item-body,
.campus_jobs .item-contour {
  border-color: #92cadd;
  background-color: #ffffff;
}

.resumes #item-realm,
.resumes .post-rectangle,
td .resumes .category_header {
  background-color: #bee133;
}

.resumes #posttitle,
.search-title.resumes,
.resultsDateBar.resumes,
td .resumes .categoryColumn {
  border-color: #bee133;
  background-color: #eef8e2;
}

.resumes #item-body,
.resumes .item-contour {
  border-color: #bee133;
  background-color: #ffffff;
}

.community #item-realm,
.community .post-rectangle,
td .community .category_header {
  background-color: #b5a3c2;
}

.community #posttitle,
.search-title.community,
.resultsDateBar.community,
td .community .categoryColumn {
  border-color: #b5a3c2;
  background-color: #f2f0f5;
}

.community #item-body,
.community .item-contour {
  border-color: #b5a3c2;
  background-color: #ffffff;
}

.services #item-realm,
.services .post-rectangle,
td .services .category_header {
  background-color: #8ed9fb;
}

.services #posttitle,
.search-title.services,
.resultsDateBar.services,
td .services .categoryColumn {
  border-color: #8ed9fb;
  background-color: #e2f4ff;
}

.services #item-body,
.services .item-contour {
  border-color: #8ed9fb;
  background-color: #ffffff;
}

.post-rectangle {
  height: 20px;
  width: 100%;
}

.post-text {
  margin-top: 20px;
  margin-bottom: 20px;
  word-break: break-word;
}

#item-body h2 {
  border-width: 0 0 2px;
  border-style: solid;
  margin: 0;
  padding: 5px;
}

#item-body img {
  padding: 1px;
  border: 1px solid #777;
}

#item-content {
  padding: 20px;
}

.item-contour {
  border-style: solid;
  border-width: 2px;
  margin-bottom: 1px;

}

#item-headers {
  background-color: #eee;
  border: 1px solid #bbb;
  margin: 0 1px;
  padding: 5px;
  margin-top: 1px;
}

#item-content .post-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

#item-content .post-details {
  margin-right: 20px;
}

.replyto1 {
  display: none;
}

.replyto1,
.item-date,
.item-price {
  font-weight: bold;
}

.replyto1 span,
.item-date span,
.item-price span {
  font-weight: normal;
  font-style: italic;
}

.no-spam {
  margin-top: 20px;
  margin-bottom: 20px;
}

.no-housing-spam,
.no-housing-spam a {
  color: #999;
}

.no-housing-spam.new-post,
.no-housing-spam.new-post a {
  color: #555;
  text-align: center;
}

.mild, .milder {
  font-weight: normal;
}

.mild {
  color: #555;
}

.milder {
  color: #999;
}

.danger {
  color: red;
}

.warning {
  color: orange;
}
body,
textarea,
input {
  font-family: Arial, sans-serif;
  font-size: 10pt;
  color: #333;
}

textarea {
  border-color: #ccc;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
textarea {
  padding: 2px;
}

a {
  color: #0000cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table colgroup .action {
  width: 30px;
}

table tr th,
table tr td {
  margin: 5px;
  padding: 5px;
}

table tr td.center {
  text-align: center;
}

table tr td.right {
  text-align: right;
}

#login-form-container {
  width: 220px;
  margin: auto;
  margin-top: 100px;
}

#login-form-container .field {
  display: block;
  padding: 5px 0;
}

#login-form-container .field label {
  display: block;
  font-weight: bold;
}

#login-form-container .field input[type="text"],
#login-form-container .field input[type="password"] {
  width: 212px;
}

#login-form-container .field input[type="submit"] {
  width: 60px;
}

#login-form-container .error {
  padding: 8px;
  margin-bottom: 5px;
  text-align: center;
  background: #fbe3e4;
  color: #8a1f11;
  border: 2px solid #fbc2c4;
}

#content {
  width: 960px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
}

#content ul.alert,
#content ul.errors,
#content ul.notice {
  border-width: 2px;
  border-style: solid;
  margin: 0 0 10px;
  padding: 8px;
}

#content ul.alert,
#content ul.errors {
  background-color: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
  list-style-type: disc;
  list-style-position: inside;
}

#content ul.alert li,
#content ul.errors li,
#content ul.notice li {
  padding: 1px 10px;
}

#content ul.notice {
  background-color: #e6efc2;
  color: #264409;
  border-color: #c6d880;
  list-style-type: none;
}

#header {
  position: relative;
  height: 54px;
}

#main {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
}

#main h1 {
  text-align: center;
  margin-top: 0;
}

#main .pagination-container {
  text-align: center;
  margin: 10px 0;
}

#main .pagination-container .pagination {
  padding-top: 2px;
}

#inner-main {
  width: 450px;
  margin: auto;
}

#header .inline {
  float: left;
  display: block;
  height: 100%;
}

#header .logo {
  width: 141px;
}

#header .menu-container {
  position: relative;
  display: block;
  width: 819px;
  line-height: 54px;
  font-size: 14px;
}

#header .menu-container {
  line-height: 27px;
}

#header .menu-container .menu-bar {
  float: left;
}

#header .menu-container .menu-bar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#header .menu-container .menu-bar ul li {
  display: inline;
  padding: 0 2px;
}

#header .menu-container .menu-bar .menu-items {
  margin-left: 5px;
  text-align: center;
}

#header .menu-container .menu-user {
  float: right;
}

#header .menu-container .menu-user .user-info {
  font-weight: bold;
}

#header .menu-container .menu-user .separator {
  padding: 0 3px;
}

table.data {
  width: 100%;
  border: 1px solid #999;
  border-spacing: 1px;
  border-collapse: collapse;
}

table.data tr.row-0 td {
  background-color: white;
}

table.data tr.row-1 td {
  background-color: #EEE;
}

table.data th,
table.data td {
  border: 1px solid #ccc;
}

table.data th {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #666;
  border: 1px solid #777;
  color: white;
  text-align: center;
  font-weight: bold;
}

table.data .details {
  margin: 2px;
  word-break: break-word;
}

table.posts colgroup .id {
  width: 78px;
}

table.posts colgroup .name {
  min-width: 200px;
}

table.posts colgroup .price {
  width: 55px;
}

table.posts colgroup .category {
  width: 95px;
}

table.posts colgroup .subcategory {
  width: 95px;
}

table.posts colgroup .status {
  width: 65px;
}

table.posts colgroup .poster {
  width: 150px;
}

table.posts colgroup .posted-at {
  width: 82px;
  max-width: 85px;
}

table.posts th .icon-photo,
table.posts td .icon-photo {
  width: 16px;
}

table.post-form {
  width: 100%;
  border-collapse: separate;
}

table.post-form colgroup .label {
  width: 160px;
}

table.post-form td.top {
  vertical-align: top;
}

table.post-form tr label {
  vertical-align: middle;
  font-weight: bold;
}

table.post-form tr input[type="text"],
table.post-form tr input[type="number"] {
  width: 740px;
}

table.post-form tr select {
  width: 748px;
}

table.post-form tr textarea {
  width: 742px;
  max-width: 742px;
  height: 300px;
  max-height: 600px;
}

table.post-form tr input[type="submit"] {
  margin-top: 10px;
  width: 60px;
}

table.post-form tr img.post-image {
  display: block;
  margin-bottom: 10px;
}

table.users colgroup .id {
  width: 40px;
}

table.users colgroup .name {
  width: 200px;
  min-width: 200px;
}

table.users colgroup .email {
  width: 240px;
  min-width: 240px;
}

table.users colgroup .type {
  width: 60px;
}

table.users colgroup .status {
  width: 80px;
}

table.users colgroup .created-on {
  width: 100px;
}

table.user-form {
  width: 100%;
  border-collapse: separate;
}

table.user-form colgroup .label {
  width: 150px;
}

table.user-form tr label {
  vertical-align: middle;
  font-weight: bold;
}

table.user-form tr input[type="text"],
table.user-form tr input[type="password"] {
  width: 300px;
}

table.user-form tr input[type="submit"] {
  width: 64px;
}

table.scammers colgroup .id {
  width: 120px;
}

table.scammers colgroup .total-messages,
table.scammers colgroup .recent-messages {
  width: 145px;
}

table.scammers colgroup .created-at {
  width: 200px;
}

table.scammer-form {
  width: 100%;
  border-collapse: separate;
}

table.scammer-form colgroup .label {
  width: 110px;
}

table.scammer-form colgroup .value {
  width: 320px;
}

table.scammer-form tr label {
  vertical-align: middle;
  font-weight: bold;
}

table.scammer-form tr input[type="text"] {
  width: 300px;
}

table.scammer-form tr input[type="submit"] {
  width: 60px;
}

table.messages colgroup .sender {
  width: 180px;
  max-width: 180px;
}

table.messages colgroup .created-at {
  width: 120px;
}

table.messages colgroup .ip {
  width: 120px;
}

table.messages colgroup .sent-at {
  width: 120px;
}

table.similar-messages colgroup .created-at {
  width: 120px;
}

table.similar-messages colgroup .ip {
  width: 115px;
}

table.similar-messages .ip {
  vertical-align: top;
}

table.similar-messages .post-details {
  display: none;
}

table.similar-messages .deleted-post {
  color: red;
}

table.events colgroup .id {
  width: 60px;
}

table.events colgroup .created {
  width: 165px;
  max-width: 165px;
}

table.events td {
  vertical-align: middle;
}

table.events pre code {
  font-size: 1.25em;
}

table.events td a.view-data {
  cursor: pointer;
}

table.events td a.view-data:hover {
  text-decoration: underline;
}

table.events tr.json-data {
  display: none;
}

form.finder-options {
  margin-bottom: 3px;
}

form.finder-options label {
  vertical-align: middle;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 3px;
}

form.finder-options input[type="text"] {
  width: 200px;
  margin-left: 5px;
}

form.finder-options input[type="number"] {
  width: 40px;
}

form.finder-options input[type="submit"] {
  width: 60px;
  margin-left: 5px;
}
