/*
 * Author: Greg Wientjes
 * Copyright 2011 Greg Wientjes
 */

.jobPostLabel {
  font-size: 18px;
  font-weight: 700;
  padding-top: 7px;
}

.jobPostField input,
.jobPostField textarea {
  width: 500px;
  font-size: 15px;
}

.jobPostField textarea {
  height: 100px;
}

#job_post_form #post_submit {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  background-color: #37497c;
  color: #ffffff;
}

#job_post_table {
  width: 100%;
}

table {
  border-collapse: collapse;
}

#job_post_col1 {
  width: 550px;
}

#job_post_col2 {
  width: 350px;
}

#job_post_header_title {
  width: 480px;
  float: left;
  font-size: 19px;
  padding-top: 14px;
  padding-left: 20px;
}

#job_post_header_phoneEmail {
  width: 400px;
  float: right;
  text-align: right;
  padding-top: 7px;
  padding-bottom: 7px;
}

#job_post_header_photo {
  border: 1px solid #cccccc;
  width: 895px;
  float: left;
  padding: 5px;
  text-align: center;
}

#already_subscriber {
  text-align: right;
  padding-top: 14px;
  padding-bottom: 14px;
}

#why_post_title,
#meet_a_stanford_student {
  text-align: center;
  font-weight: 700;
  font-size: 19px;
  padding-top: 15px;
  padding-bottom: 10px;
}

#why_post_body {
  font-size: 17px;
  padding: 7px;
}

.why_post_paragraph {
  padding-bottom: 14px;
}

#video_student {
  text-align: center;
}

#job_post_header_text {
  font-weight: 700;
}

#job_post_form {
  padding-top: 20px;
  padding-bottom: 20px;
}

#job_post_header_phone {
  font-size: 14px;
}

#job_post_col1 {
  padding-right: 30px;
}

#stanford_daily_logo {
  border: 1px solid #cccccc;
  padding-top: 10px;
  padding-bottom: 10px;
}

.stanford_daily_article {
  padding-top: 15px;
  font-size: 15px;
}


/* ================= Preview and Pay Page =================== */

#job_post_header_text {
  height: 50px;
}

#credit_card_form input {
  font-size: 17px;
}

#credit_card_form img {
  border: 0px;
  padding-bottom: 20px;
}

#previewInstructions {
  border: 5px solid #8CBF40;
  background-color: #D1E6B3;
  text-align: center;
  padding: 20px;
  font-size: 19px;
  color: #83B23D;
  font-weight: 700;
}

#jobPostError {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #c00;
  color: white;
  font-size: 17px;
  text-align: center;
}

#credit_card_form {
  border: 3px solid #cdcccc;
  width: 400px;
  float: left;
  padding: 15px;
  background-color: #f9f9fa;
}

.creditCardLabel {
  font-weight: 700;
  padding-top: 10px;
}

.creditCardColumn {
  width: 400px;
}

#first_name_label {
  width: 150px;
}

#firstName {
  width: 170px;
  float: left;
}

#lastName {
  width: 170px;
  float: left;
}

#expireDate {
  width: 240px;
  float: left;
}

#monthExpire {
  width: 40px;
  float: left;
  padding-right: 15px;
}

#yearExpire {
  width: 80px;
  float: left;
}

#expireInstructions {
  width: 65px;
  float: left;
  padding-top: 35px;
  font-size: 11px;
}

#whatIsCvv {
  width: 30px;
  float: left;
  padding-top: 13px;
  font-size: 11px;
}

#cvv {
  width: 75px;
  float: left;
}

#purchase_agree {
  padding-top: 10px;
  width: 380px;
  float: left;
  font-size: 14px;
}

#credit_card_submit {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 25px;
  background-color: #37497c;
  color: #ffffff;
}

.ccFormRow {
  width: 380px;
  float: left;
}

#titleCC {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 700;
  float: left;
  width: 120px;
}

#credit_card_form img {
  float: right;
}

.jobPostTextPreview {
  padding-right: 14px;
}

#spinnerForForm {
  text-align: center;
}

.hidden {
  display: none;
}

.trial {
  text-align: center;
  padding-top: 20px;
}

.signup_div {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: white;
  background: #006400;
  border-bottom: 2px solid #006400;
  border-left: 2px solid #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 15px;
}

a.signup_button:active {
  background: #008300;
}

.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
