<% content_for :tail do %>
  <script type="text/javascript">
    jQuery(document).ready(function () {
      jQuery('a.toggle-post-details').click(function (evt) {
        evt.preventDefault();
        jQuery(evt.target).siblings('.post-details').toggle();
      });
    });
  </script>
<% end %>

<table class="data similar-messages">
  <colgroup>
    <col class="created-at" />
    <col class="ip" />
    <col class="post-and-message" />
  </colgroup>

  <tr>
    <th>Sent At</th>
    <th>Ip</th>
    <th>Post / Message</th>
  </tr>

  <% @messages.each_with_index do |message, index| %>
    <tr class="row-<%= index % 2 %>">
      <td rowspan="2" class="center"><%= message.display_created_at %></td>
      <td rowspan="2" class="center"><%= message.ip %></td>
      <td>
        <% if post = message.post %>
          <%= readonly_link(post) %>
          <%= details_tag post.body, :class => 'post-details details' %>
        <% else %>
          <span class="deleted-post">Deleted Post</span>
        <% end %>
      </td>
    </tr>
    <tr class="row-<%= index % 2 %>">
      <td><%= details_tag message.message %></td>
    </tr>
  <% end %>
</table>

<%= render :partial => '/shared/pagination', :locals => { :records => @messages } %>
