<% if flash[:notice].present? %>
  <ul class="notice">
    <li><%= flash[:notice] %></li>
  </ul>
<% elsif flash[:alert].present? %>
  <ul class="alert">
    <li><%= flash[:alert] %></li>
  </ul>
<% end %>
