<% content_for :tail do %>
  <script type="text/javascript">
    jQuery(document).ready(function () {
      jQuery('#filter-field').change(function (evt) {
        evt.preventDefault();
        jQuery('#filter-value').val('');
      });

      jQuery('#filter-button').click(function (evt) {
        var filterValue = jQuery('#filter-value');
        filterValue.val(jQuery.trim(filterValue.val()));
      });
    });
  </script>
<% end %>

<%= form_tag request.path, :method => :get, :class => 'finder-options' do %>
  <label for="filter-status">Status:</label>
  <%= select_tag :status, options_for_select(Post::FILTER_STATUS_NAMES, :selected => params[:status]), :id => 'filter-status' %>

  <label for="field">Field:</label>
  <%= select_tag :field, options_for_select(Post::FILTER_FIELDS, :selected => params[:field]), :id => 'filter-field' %>
  <%= text_field_tag :value, params[:value], :id => 'filter-value' %>

  <%= submit_tag 'Filter', :id => 'filter-button', :name => nil, :disable_with => 'Filter' %>
<% end %>
