<%= form_for @post, :as => :post, :url => add_post_path(@category.id, :sub => @subcategory.id), :html => { :multipart => true } do |f| %>
  <div class="add_post_form">
    <%= error_messages_for :post %>

    <div class="form_row">
      <span class="form_label"><%= f.label :name, 'Post Title:' %></span>
      <span class="form_input">
        <%= f.text_field :name, :class => "input_text_field", :maxlength => 70 %>
      </span>
    </div>

    <% if @post.price_required? %>
      <div class="form_row">
        <span class="form_label"><%= f.label :price, 'Price:' %></span>
        <span class="form_input">
          <%= f.number_field :price, :min => 0, :max => 1_000_000, :step => 0.01, :class => 'input_text_field', :maxlength => 10 %>
        </span>
      </div>
    <% end %>

    <div class="form_row">
      <span class="form_label"><%= f.label :body, 'Post Description:' %></span>
      <span class="form_input">
        <%= f.text_area :body, :class => 'input_textarea_field' %>
      </span>
    </div>

    <div class="form_row">
      <span class="form_label"><%= f.label :email, 'Your Stanford Email:' %></span>
      <span class="form_input">
        <%= f.text_field :email, :class => "input_text_field", :maxlength => 70 %>

        <div class="no-spam milder email-notes">
          @stanford.edu, @alumni.stanford.edu, @stanfordalumni.org<br />
          We need your email to send you the self-publishing link. This email will not be visible on the website.
        </div>
      </span>
    </div>

    <div class="form_row">
      <span class="form_label form_photo_label"><%= f.label :photo1, 'Photos:' %></span>
      <div class="form_input">
        <div class="form_photo_field first">
          <%= f.file_field :photo1 %>
          <span class="photo_optional">optional</span>
        </div>
        <div class="form_photo_field"><%= f.file_field :photo2 %></div>
        <div class="form_photo_field"><%= f.file_field :photo3 %></div>
        <div class="form_photo_field"><%= f.file_field :photo4 %></div>
      </div>
    </div>
  </div>

  <div class="submit_row">
    <%= f.submit 'Preview', :disable_with => 'Saving...', :class => 'submit' %>
  </div>

  <%= render :partial => '/post/no_housing_spam' %>
<% end %>
