<div class="addFormCategory">
  <div class="addFormHeader">Please choose a category: </div>
  <% @subcategories.each do |subcategory| %>
    <ul>
      <li>
        <%= link_to subcategory.name, add_post_path(subcategory.category_id, :sub => subcategory.id) %>
      </li>
    </ul>
  <% end %>
</div>
