<%= render :partial => '/post/post' %>

<div class="continue-step">
  <%= form_for @post, :url => confirm_post_path(@post.id), :html => { :method => :post } do |f| %>
    <% if @post.purchasable? %>
      <div class="field_row">
        <%= f.check_box :enable_purchases %>
        <% label_tag :post_enable_purchases do %>
          Enable
          <%= link_to 'electronic purchases', '//pay.supost.com', :target => '_blank' %>
          of my post.
          I agree to a payout via PayPal to my email, <%= @post.email %>,
          after 5 business days and a 25% service fee.
        <% end %>
      </div>
    <% end %>

    <div class="submit_row">
      <%= submit_tag 'Continue', :disable_with => 'Saving...' %>
    </div>
  <% end %>
</div>
