<% if params[:do] == 'pay' %>
  <% content_for :head do %>
    <script type="text/javascript">
      jQuery(document).ready(function () {
        jQuery('button.stripe-button-el').trigger('click');
      });
    </script>
  <% end %>
<% end %>

<div id="item-realm" class="<%= @post.code %> ">
  <div class="post-rectangle <%= @post.code %>"></div>

  <div id="item-body" class="<%= @post.code %>">
    <div class=" <%= @post.code %> item-contour">
      <h2 id="posttitle" class="<%= @post.code %>">
        <%= post_display_name @post %>
      </h2>

      <div id="item-headers">
        <% if @post.active? %>
          <div class="replyto1">
            Reply to: <span>Use the form at the right to send messages to this user.</span>
          </div>
        <% end %>

        <div class="item-date">
          Date: <span><%= @post.display_posted_at %></span>
        </div>

        <% if @post.have_price? %>
          <div class="item-price">
            Price: <span><%= post_display_price(@post) %></span>
          </div>
        <% end %>
      </div>

      <div id="item-content">
        <% if @payment %>
          <%= render 'payment_confirmation', :payment => @payment, :post => @post %>
        <% elsif flash[:stripe_error] %>
          <div id="stripe-error"><%= flash[:stripe_error] %></div>
        <% end %>

        <table class="post-table">
          <tr valign="top">
            <td class="postBodyBox">
              <div class="post-details">
                <div class="post-photos">
                  <% @post.post_photos.each_with_index do |post_photo, idx| %>
                    <%= post_photo_tag(post_photo, :class => 'post-photo', :alt => "Photo #{idx}") %>
                  <% end %>
                </div>

                <div class="post-text">
                  <%= post_body_tag @post.body %>
                </div>

                <% if @post.for_housing_offering? %>
                  <%= render :partial => '/post/no_housing_spam' %>
                <% end %>

                <div class="no-spam milder">
                  please do not message this poster about other commercial services
                </div>
              </div>
            </td>

            <td class="messagePosterBox">
              <% if flash[:notice] %>
                <div id="posting-confirmation-message">
                  <%= flash[:notice] %>
                </div>
              <% elsif @post.active? && !@disable_message_box %>
                <%= render :partial => '/post/checkout' %>
                <%= render :partial => '/post/message_box' %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <% if @facebook %>
      <div class="fb-like" data-href="<%= post_path(@post.id) %>" data-send="true" data-width="700" data-show-faces="true"></div>
      <div class="fb-comments" data-href="<%= post_path(@post.id) %>" data-num-posts="10" data-width="700"></div>
    <% end %>
  </div>
</div>
