<div id='posting-confirmation' class='confirm-msg activate'>
  <div id='deleted'>Deleted</div>

  Your post is now deleted.

  <div class="doStuff">
    <span id="republish">
      <%= link_to 'Republish your post', publish_post_path(@post.access_token) %>
    </span>
  </div>

  <div class="return">Return to <%= link_to 'SUpost', root_path %>.</div>
</div>
