<div class="addFormContent">
  <div class="job_post_header">
    <span class="job_post_header_title"> </span>
  </div>

  <div class="job_post_already_subscr">
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <%= link_to "Unsubscribe?", "http://supost.com/unsubscribe" %>
  </div>

  <div class="job_post_wufoo">
    <script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

    <script type="text/javascript">
      var x7x3q1 = new WufooForm();
      x7x3q1.initialize({
        'userName':'suresume', 
        'formHash':'x7x3q1', 
        'autoResize':true,
        'height':'554', 
        'ssl':true});
      x7x3q1.display();
    </script>
  </div>
</div>
