<!-- Google Ad Manager 2 -->
<!-- SUpost_Homepage_CompanyLogo_Top_300x100 -->
<!--
<div id='div-gpt-ad-1376573672379-1' style='width:300px; height:100px;'>
  <script type='text/javascript'>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1376573672379-1'); });
  </script>
</div>
-->

<!-- SUpost_Homepage_BannerHigh_Top_300x250 -->
<div id="div-gpt-ad-1376573672379-0" style="width:300px; height:250px;">
  <script type="text/javascript">
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1376573672379-0'); });
  </script>
</div>

<br />

<!-- Big Header ad -->
<div class="bigHeaderAd">
  <!-- Google Ad Manager -->
  <!-- ca-pub-5913108846433714/supost_home_300x250 -->
  <script type="text/javascript">
    GA_googleFillSlot('supost_home_300x250');
  </script>
  <!-- Google Ad Manager -->
</div>
