<table id="classifiedsOverview" class="category">
  <tr>
    <td>
      <div class="classifiedOverviewHeader">
        <%= link_to 'overview', search_path %>
      </div>

      <% Category.active_categories.each do |category| %>
        <div class="classifiedsOverviewRow">
          <div class="classifiedsOverviewTitle <%= category.icon %>">
            <%= link_to category.display_name, search_by_cat_path(category.id) %>
          </div>

          <% if @time_ago[category.id].present? %>
            <div class="timeAgoShort"><%= short_time_ago @time_ago[category.id] %></div>
          <% end %>
        </div>
      <% end %>
    </td>
  </tr>
</table>
