<h1>Users</h1>

<%= render :partial => '/shared/notice' %>

<table class="data users">
  <colgroup>
    <col class="id" />
    <col class="name" />
    <col class="email" />
    <col class="type" />
    <col class="status" />
    <col class="created-on" />
    <col class="action" />
    <col class="action" />
  </colgroup>

  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Type</th>
    <th>Status</th>
    <th>Created On</th>
    <th></th>
    <th></th>
  </tr>

  <% @users.each_with_index do |u, index| %>
    <% can_update_user = current_user.can_update?(u) %>
    <tr class="row-<%= index % 2 %>">
      <td class="right"><%= u.id %></td>
      <td><%= edit_user_link(u) %></td>
      <td><%= u.email %></td>
      <td class="center"><%= u.user_type %></td>
      <td class="center"><%= u.disabled? ? 'Disabled' : 'Enabled' %></td>
      <td class="center"><%= u.created_on %></td>
      <td class="center"><%= reset_password_link(u) %></td>
      <td class="center"><%= enable_user_link(u) %></td>
    </tr>
  <% end %>
</table>

<%= render :partial => '/shared/pagination', :locals => { :records => @users } %>
