<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= csrf_meta_tag %>

  <title>SUpost: Administrator</title>

  <link rel="shortcut icon" href="<%= image_path 'site/favicon.ico' %>" />

  <%#= stylesheet_link_tag 'http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css' %>
  <%= stylesheet_link_tag 'http://yui.yahooapis.com/3.18.1/build/cssnormalize/cssnormalize-min.css' %>
  <%= stylesheet_link_tag 'admin' %>
  <%= javascript_include_tag :defaults %>

  <%= yield :head %>
</head>

<body class="<%= controller_name %>">
  <div id="content">
    <div id="header">
      <div class="inline logo">
        <%= link_to image_tag('site/SUPostLogo.gif'), root_path, :target => '_blank' %>
      </div>

      <div class="inline menu-container">
        <div class="menu-bar">
          <div class="menu-items">
            <ul>
              <% if current_user.admin? %>
                <li><%= link_to "Users", admin_users_path %></li>
                <li>|</li>
                <li><%= link_to "New User", new_admin_user_path %></li>
                <li>|</li>
              <% end %>
              <li><%= link_to "Delayed Job", delayed_job_path, :target => '_blank' %></li>
              <li>|</li>
              <li><%= link_to "Spammers", admin_spammers_path %></li>
              <li>|</li>
              <li><%= link_to "Scammers", admin_scammers_path %></li>
            </ul>

            <ul>
              <li><%= link_to "Events", admin_events_path %></li>
              <li>|</li>
              <li><%= link_to "Payments", admin_payments_path %></li>
              <li>|</li>
              <li><%= link_to "All Posts", admin_posts_path %></li>
              <li>|</li>
              <li><%= link_to "Job Posts", job_admin_posts_path %></li>
              <li>|</li>
              <li><%= link_to "New Job Post", new_admin_post_path %></li>
            </ul>
          </div>
        </div>

        <div class="menu-user">
          <span class="user-info">
            <%= link_to current_user.name, admin_profile_path, :class => 'user-info' %>
          </span>
          <span class="separator">|</span>
          <%= link_to "Logout", admin_logout_path %>
        </div>
      </div>
    </div>

    <div id="main">
      <%= yield %>
    </div>
  </div>

  <%= yield :tail %>
</body>
</html>
